.app-container {
    width: 100%;
    display: block;
}

.app-content {
    margin: 15px;
    border-top: 2px solid #b3b3b3;
    display: flex;
}

.sidebar {
    width: 20%;
    background: #f3f3f3;
}
.main {
    width: 80%;
    padding: 12px 0 12px 24px;
}